VITE_SHEETS_API_URL=https://script.google.com/macros/s/SEU_WEB_APP_ID/exec

WHATSAPP_VERIFY_TOKEN=fut_terca_token_123
SHEETS_API_URL=https://script.google.com/macros/s/SEU_WEB_APP_ID/exec
SHEETS_WEBHOOK_SECRET=
EVOLUTION_API_URL=http://127.0.0.1:8080
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
